body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

.navigation a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;   
    letter-spacing: 1.5;
}

.navigation {
    
}

.navigation .logo {
    font-family: 'Raleway';
    font-weight: 800;   
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.1;
    text-transform: uppercase;
    color: #2E2F42;
}

.navigation .logo span {
    font-family: 'Raleway';
    font-weight: 800;
    color: #4D5AE5;
}

.address {
    font-size: 16px;
    line-height: 24px;  
    letter-spacing: 1.5;
    color: #434455;
}

.bg {
}

.solutions {
    background-color: #2e2f42;
}

.solutions .main-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.solutions .main-button {

    /** TEXT **/
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;

    /** BG **/
    background-color: #4D5AE5;
}

.solutions .main-button:hover {
    background-color: #404BBF
}

.solutions .main-button:active {
    background-color: #404BBF
}

.about h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.2;
    color: #2E2F42;
}

.about p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.5;
    color: #434455;
}




.what-we-do h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.1;
    text-transform: capitalize;
    color: #2E2F42;
}

.what-we-do img {
}

.what-we-do .screen {
}

.what-we-do .phone-pages {   
}

.what-we-do .phone-laptop {   
}

.our-team {
    background: #f4f4fd;
}

.our-team h2 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.1;
    text-transform: capitalize;
    color: #2E2F42;
}

.our-team .team-card li {
    justify-content: center;
    align-items: center;
    background: #FFFFFF;

}

.our-team .mark {

}

.our-team .tom {

} 

.our-team .camila {

}

.our-team .daniel {

}

footer .bg{
}

footer a {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.1;
    text-transform: uppercase;
    color: #F4F4FD;
}

footer .logo {
    font-weight: 800;
    color: #F4F4FD;
}

footer .logo span {
    letter-spacing: 1.1;
    text-transform: uppercase;
    color: #4D5AE5;
}

footer p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.5;
    color: #F4F4FD;
}